body {
    display: flex; /* Is Flex because the elements can move around*/
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* 100vh means 100 view height*/
    background-color: #e3f2fd;
    color: white;

}

.container {
    width: 780px;
    background-color: black;
    padding: 35px 40px;
    border-radius: 20px;

}
/* To know the color in the document you can use the app called color picker */
.container header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

header h2 {
    font-size: 1.6rem; /* Rem indicates the desired height 
    of glyphs from the font */
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input {
    accent-color: #0d3b0d;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none; 
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative; /* The position CSS property sets how an 
    element is positioned in a document. The top, right, bottom, 
    and left properties determine the final location of positioned */
    
}

.keys-check input::before { /* Pseudo Element*/
    content: "";
    height: 20px;
    width: 20px;
    background-color: #8c8c8c8c;
    top: 50%;
    left: 0.3rem;
    border-radius: inherit; /* Take the property in other class*/
    position:absolute; /*The position CSS property 
    sets how an element is positioned in 
    a document. The top, right, bottom, 
    and left properties determine the final 
    location of positioned elements */
    transform: translateY(-50%); /* The element stay inside the box*/
    transition: all 0.3s ease; /* the transition will makes smoother*/
}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: #0d3b0d;

}

 .piano-keys {
    display: flex;
    margin-top: 40px;
 }